/* line 35, ../scss/iplayer.scss */
.table {
  color: #eeeeee;
}
/* line 38, ../scss/iplayer.scss */
.table .light, .table .name, .table thead {
  color: #343434;
}

@media (max-width: 768px) {
  /* line 44, ../scss/iplayer.scss */
  .affix {
    position: static;
  }
}
/* line 50, ../scss/iplayer.scss */
.examples a {
  color: #343434;
}
/* line 52, ../scss/iplayer.scss */
.examples a:hover, .examples a:focus {
  color: #f54997;
  text-decoration: none;
}
/* line 58, ../scss/iplayer.scss */
.examples button {
  color: white;
  border: 0px;
  background-color: #343434;
  padding: 8px;
}
/* line 63, ../scss/iplayer.scss */
.examples button:hover, .examples button:focus {
  background-color: #cf3e80;
}
